{% set HAPROXY_INSTANCE_TEMPLATE =  env["name"] + "-it"  %}
{% set HAPROXY_INSTANCE_GROUP =   env["name"] + "-ig" %}

resources:
- name: {{ HAPROXY_INSTANCE_TEMPLATE }}
  type: compute.v1.instanceTemplate
  properties:
    project: {{ env["project"] }}
    properties:
      machineType: {{ properties["machine_type"] }} 
      disks:
      - deviceName: boot
        type: PERSISTENT
        boot: true
        autoDelete: true
        initializeParams:
          sourceImage: {{ properties["image"] }}
      networkInterfaces:
      - network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
        accessConfigs:
        - name: External NAT
          type: ONE_TO_ONE_NAT
      serviceAccounts: 
      - email: "default"
        scopes: 
        - "https://www.googleapis.com/auth/compute"
      tags:
        items:
        - haproxy
      metadata:
        items:
        - key: startup-script
          value: |
            #! /bin/bash
            export zone=$(curl -s -H "Metadata-Flavor: Google" "http://metadata.google.internal/computeMetadata/v1/instance/zone" | grep -o [[:alnum:]-]*$)

            # Set zone in Consul and HAProxy files
            envsubst < "/etc/consul.d/haproxy-internal-service.json" > "/etc/consul.d/haproxy-internal-service.json.new" && mv /etc/consul.d/haproxy-internal-service.json.new /etc/consul.d/haproxy-internal-service.json
            envsubst < "/etc/haproxy/haproxy.ctmpl" > "/etc/haproxy/haproxy.ctmpl.new" && mv /etc/haproxy/haproxy.ctmpl.new /etc/haproxy/haproxy.ctmpl

            # Register service
            consul agent -data-dir /tmp/consul -config-dir /etc/consul.d {{ properties["consul_args"] }} &
                      
            # Generate haproxy config
            consul-template -template "/etc/haproxy/haproxy.ctmpl:/etc/haproxy/haproxy.cfg:service haproxy restart" -retry 30s -max-stale 5s -wait 5s &

{% for zone in properties["zones"] %}
# Instance Group Manager for internal HAProxy
- name: {{ HAPROXY_INSTANCE_GROUP + "-" + zone }}
  type: compute.v1.instanceGroupManager
  properties:
    zone: {{ zone }}
    targetSize: {{ properties["zones"][zone]["haproxy_servers"] }}
    size: {{ properties["zones"][zone]["haproxy_servers_size"] }}
    baseInstanceName: {{ env["name"] }}
    instanceTemplate: $(ref.{{ HAPROXY_INSTANCE_TEMPLATE }}.selfLink)
{% endfor %}
