# Copyright 2014 Google Inc. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0 #
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{% set BACKEND = "backend-" + env["deployment"] %}
{% set HAPROXY = "haproxy-" + env["deployment"] %}
{% set CONSUL = "consul-" + env["deployment"] %}
{% set FRONTEND = "frontend-" + env["deployment"] %}

# Construct args for consul agent to join cluster
{% set CONSUL_SERVERS= [] %}
{% for zone in properties["zones_to_use"]%}
{% set _ = CONSUL_SERVERS.append(CONSUL + "-" + zone) %}
{% endfor %}
{% set CONSUL_SERVERS_STRING = CONSUL_SERVERS|join(',') %}

resources:
- name: {{ CONSUL }}
  type: consul.jinja
  properties:
    machine_type: {{ properties["machine_type"]["consul"] }}
    image: {{ "https://www.googleapis.com/compute/v1/projects/" + env["project"] + "/global/images/" + properties["consul_image"] }}
    zones: {{ properties["zones_to_use"] }}
    consul_servers: {{ CONSUL_SERVERS_STRING }}

- name: {{ HAPROXY }}
  type: haproxy.jinja
  properties:
    machine_type: {{ properties["machine_type"]["haproxy"] }}
    image: {{ "https://www.googleapis.com/compute/v1/projects/" + env["project"] + "/global/images/" + properties["haproxy_image"] }}
    zones: {{ properties["zones"] }}
    consul_servers: {{ CONSUL_SERVERS_STRING }}
    ref:  $(ref.{{ CONSUL + "-us-central1-f" }}.selfLink)

- name: {{ BACKEND }}
  type: backend.jinja
  properties:
    machine_type: {{ properties["machine_type"]["backend"] }}
    image: {{ "https://www.googleapis.com/compute/v1/projects/" + env["project"] + "/global/images/" + properties["backend_image"] }}
    zones: {{ properties["zones"] }}
    consul_servers: {{ CONSUL_SERVERS_STRING }}
    ref:  $(ref.{{ CONSUL + "-us-central1-f" }}.selfLink)

- name: {{ FRONTEND }}
  type: frontend.jinja
  properties:
    machine_type: {{ properties["machine_type"]["frontend"] }}
    image: {{ "https://www.googleapis.com/compute/v1/projects/" + env["project"] + "/global/images/" + properties["frontend_image"] }}
    zones: {{ properties["zones"] }}
    region: {{ properties["region"] }}
    consul_servers: {{ CONSUL_SERVERS_STRING }}
    ref:  $(ref.{{ CONSUL + "-us-central1-f" }}.selfLink)
