[Unit]
Description=www
[Service]
ExecStart=/opt/www/gceme -port=8080
WorkingDirectory=/opt/www
Restart=always
LimitNOFILE=9999999
[Install]
WantedBy=multi-user.target
