[Unit]
Description=consul_servers

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/usr/local/bin/consul_servers.sh > /etc/consul-servers"

[Install]
WantedBy=multi-user.target
